<div class="container">

  <div class="row">
    <div class="col-6 left">
      <h1>E-Cart</h1>
    </div>
    <div class="col-6">
      <div class="login">
        <h3 class="mb-3">Please login to get started.</h3>
        <hr />
        <form>

          <div class="mb-3">
            <label for="useremail" class="form-label">Enter your email</label>
            <input type="email" name="useremail" class="form-control">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Enter your password</label>
            <input type="password" name="password" class="form-control">
          </div>

          <button class="btn btn-warning float-end" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>

</div>
